.block {
	padding: 2rem 2rem;

	&--with-bg {
		background: url(/images/background3.jpg) center center;
	}

	&--centered {
		text-align: center;
	}

	&--intro {
		text-align: center;
	}

	&--with-img-bg {
		padding: 5rem 2rem 1rem;
		h2 {
			font-size: 4rem;
			color: $white;
			text-transform: uppercase;
			font-weight: 575;
			font-variation-settings: 'wght' 575;
			line-height: 1.1;
			letter-spacing: 0.09em;
			width: 50%;
			margin: 0 auto 4rem;
		}
	}


	&__container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}
