
$grey--lightest: #dcdcdc;
$grey--light: #9b9b9b;
$grey--mid: rgb(140, 140, 140);
$grey--dark: #4c4c4c;
$grey--darkest: #1b1919;
$white: #fff;

$teal: #1aada3;

$colour__top-bar-bg: $grey--mid;
$colour__top-bar-text: $white;

$colour__header-bg: $white;

$colour__nav-link: $grey--dark;
$colour__nav-link--hover: $teal;

$colour__footer-bg: $grey--mid;
$colour__footer-text: $white;

$colour__body-text: $grey--dark;
$colour__heading--main: $grey--darkest;
$colour__heading-lede: $grey--light;
$colour__sub-heading: $grey--light;

$colour__heading-separator: $grey--lightest;
